<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4.properties</param-value>
	</context-param>
	<context-param>
		<param-name>driver</param-name>
		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
	</context-param>
	<context-param>
		<param-name>user</param-name>
		<param-value>scott</param-value>
	</context-param>
	<servlet>
		<servlet-name>frontServlet</servlet-name>
		<servlet-class>jsp.ch17.FrontServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>frontServlet</servlet-name>
		<url-pattern>/ch17/shopping2.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>orderServlet</servlet-name>
		<servlet-class>ch17.OrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>orderServlet</servlet-name>
		<url-pattern>/ch17/OrderServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mvcServlet</servlet-name>
		<servlet-class>ch17.MVCtServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvcServlet</servlet-name>
		<url-pattern>*.kosmo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DBCPlnit</servlet-name>
		<servlet-class>ch17.DBCPInitVer2</servlet-class>
	<init-param>
		<param-name>jdbcdriver</param-name>
		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
	</init-param>
	<init-param>
		<param-name>jdbcUrl</param-name>
		<param-value>jdbc:oracle:thin:@192.168.0.254:1521:orcl11</param-value>
	</init-param>
	<init-param>
		<param-name>username</param-name>
		<param-value>scott</param-value>
	</init-param>
	<init-param>
		<param-name>pw</param-name>
		<param-value>tiger</param-value>
	</init-param>
	<init-param>
		<param-name>pw</param-name>
		<param-value>tiger</param-value>
	</init-param>
		<init-param>
		<param-name>poolName</param-name>
		<param-value>chap14</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>parameterServlet</servlet-name>
		<servlet-class>jsp.ch03.ParameterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>parameterServlet</servlet-name>
		<url-pattern>/ch03/parameterAction.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deptServlet</servlet-name>
		<servlet-class>jsp.dept.DeptController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deptServlet</servlet-name>
		<url-pattern>/dept1/deptList.do</url-pattern>
	</servlet-mapping>

<!-- 	<error-page>
		<error-code>404</error-code>
		<location>/error/error404.jsp</location>
	</error-page>
	<error-page> 
		<error-code>500</error-code>
		<location>/error/error500.jsp</location>
	</error-page>
	!-->
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/error/errorNullPointer.jsp</location>
	</error-page>
	<!-- 
	<servlet>
		<servlet-name>orderUPDServlet</servlet-name>
		<servlet-class>ch17.OrderUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>orderUPDServlet</servlet-name>
		<url-pattern>/ch17/OrderUpdateServlet.do</url-pattern>
	</servlet-mapping>
	 -->
	<servlet>
		<servlet-name>helloServlet</servlet-name>
		<servlet-class>jsp.ch13.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>helloServlet</servlet-name>
		<url-pattern>/ch13/hello.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>boardAction</servlet-name>
		<servlet-class>ajax.BoardAction</servlet-class>
		<init-param>
			<param-name>mem_id</param-name>
			<param-value>apple</param-value>
		</init-param>
		<init-param>
			<param-name>mem_pw</param-name>
			<param-value>123</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>boardAction</servlet-name>
		<url-pattern>*.ajax</url-pattern>
	</servlet-mapping>
</web-app>